<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/rabbit
      http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">


	<bean id="connectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory" >
		<property name="host" value="${batch.rabbit.host}" />
		<property name="username" value="${batch.rabbit.username}" />
		<property name="password" value="${batch.rabbit.password}" />
		<property name="port" value="${batch.rabbit.port}" />
		<!-- 与服务器的心跳时间(默认60s) -->
		<property name="requestedHeartBeat" value="60" />
		<!-- RabbitMQ 虚拟主机(默认 "/") -->
		<property name="virtualHost" value="/" />
	</bean>

	<rabbit:admin connection-factory="connectionFactory" />


	<!--<rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="as_exchange" />-->

	<!-- 声明消息队列 -->
	<!--<rabbit:queue id="step" name="queue" durable="true" auto-delete="false" exclusive="false"/>-->

	<!--<rabbit:direct-exchange name="as_exchange" durable="true" auto-delete="false" id="as_exchange">-->
		<!--<rabbit:bindings>-->
			<!--&lt;!&ndash; 接收发送消息 &ndash;&gt;-->
			<!--<rabbit:binding queue="step" key="queue"/>-->
		<!--</rabbit:bindings>-->
	<!--</rabbit:direct-exchange>-->




</beans>